html,body {
	margin:0;
	padding:0;
	font-family:Open Sans;
}

#intro {
	height:50%;
	width:100%;
	position:absolute;
}

#photo {
	background: url('https://avatars3.githubusercontent.com/u/5289251?s=460') no-repeat center;
	background-size: 150px 150px;
/*	box-shadow:0 0 1px rgba(200,200,200,1.5);*/
	transform: scale(1.0,1.0);
	border-radius:90px;
	height:147px;
	width:150px;
	margin:10% auto 0;
}

#name {
	text-align:center;
	font-weight:100;
}

#bio {
	text-align:center;
	font-weight:100;
	color: #707070 ;
}

nav ul {	
	padding:0;
	margin:0;
}

a:hover {
    color:#3cc88c;
}

nav ul li, nav ul li a {
	display:inline-block;
	min-width:1%;
	color:#989898;
}

nav {
	margin:auto;
	text-align:center;
}
